{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href='{% static "style.css" %}' />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container-fluid bg-light">
      <!--start nav-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home/">NewsIndia</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/technology/">Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/science/">
                Science
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/business/">Business</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/health/">Health</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sport/">Sports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/entertainment/">Entertainment</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="GET" action="/search/">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              name="search_for"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
      <!--end nav-->
      <main>
        <!-- start-->
        {% block content %} {% endblock %}
        <!-- over -->
      </main>
    </div>
    <!-- Main section starts here-->

    <!-- Main end -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.esm.min.js"></script>
  </body>
</html>
